<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1D3C34;">
            <div class="container px-4">
                <!-- Titre de la barre de navigation -->
                <a class="navbar-brand fw-bold" href="#" style="font-family: 'Cinzel', serif; letter-spacing: 1px;">Tael's Bar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!-- Liens de navigation -->
                    <ul class="navbar-nav ms-auto">
                        {% if app.user %}
                            <li class="nav-item nav-underline"><a class="nav-link active text-light" href="#">Bienvenue, {{ app.user.firstname }}</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_main')}}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_post_list')}}">Post</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_category_list')}}">Categorie</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_user_admin')}}">Dashboard</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_logout')}}">Se déconnecter</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_login')}}">Se connecter</a></li>
                            <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_register')}}">S'inscrire</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
