{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <div class="card shadow-lg p-4" style="background-color: white; border-radius: 10px;">
        <h1 class="mb-4 text-center">{{ post.title }}</h1>
        <p class="text-muted text-center"><strong>Publié le :</strong> {{ post.publishedAt|date('d/m/Y') }}</p>
        {% if post.picture %}
            <img src="{{ post.picture }}" alt="Image du post" class="mx-auto d-block" style="max-width: 50%; height: auto;">
        {% endif %}
        <p>{{ post.content }}</p>
        <p>Auteur : {{ post.user.firstname }}</p>
        <p>Catégorie : {{ post.category.name }}</p>
        <hr>
        {% if is_granted('ROLE_ADMIN')%}
            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-warning ">Modifier l'article</a>
        {% endif %}

        <!-- Affichage des commentaires -->
        <h3>Commentaires</h3>
        <ul class="list-unstyled">
            {% for comment in post.comment %}
                <li class="media mb-3">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ comment.user.firstname }} {{ comment.user.lastname }}</h5>
                        <p>{{ comment.content }}</p>
                        <small>{{ comment.createAt|date('d/m/Y H:i') }}</small>
                    </div>
                </li>
            {% else %}
                <p>Aucun commentaire pour ce post.</p>
            {% endfor %}
        </ul>

        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('comment_form', {'postId': post.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
        {% else %}
            <p>Vous devez être connecté pour ajouter un commentaire.</p>
        {% endif %}

        <div class="text-center mt-4">
            <a href="{{ path('app_post_list') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
